alabaster==0.7.10
attrs==17.1.0
Automat==0.6.0
Babel==2.4.0
breathe==4.6.0
buildbot==0.8.12
buildbot-slave==0.8.12
constantly==15.1.0
decorator==4.0.11
docutils==0.13.1
imagesize==0.7.1
incremental==16.10.1
Jinja2==2.9.6
MarkupSafe==1.0
Pygments==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.14.2
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.7.2
Tempita==0.5.2
Twisted==17.1.0
typing==3.6.1
zope.interface==4.4.1
